---
const { name, description, href } = Astro.props;
---

<div class="flex-1 pb-5 md:p-5">
  <span class="block font-medium text-gray-700">{name}</span>
  <span class="inline-block mt-2 text-gray-400">{description}</span>
  <a href={href} class="underline !text-yellow-500"> Ler mais</a>
</div>
